.block_my_courses .c_header {
    cursor:pointer;
}

.block_my_courses .c_header h3 {
    cursor:pointer;
}

.block_my_courses .c_header ul {
    margin: 0;
    padding: 0;
}

.block_my_courses .c_header li {
    list-style-type: none;
    list-style: none;
    margin-left: 20px;
}

.block_my_courses .c_header.collapsed ul {
    background-image: url([[pix:t/collapsed]]);
    background-position: 2px 50%;
    background-repeat: no-repeat;
    margin: 0;
}

.block_my_courses .c_header.expanded ul {
    background-image: url([[pix:t/expanded]]);
    background-position: 2px 50%;
    background-repeat: no-repeat;
    margin: 0;
}

.block_my_courses .c_content {
    margin: 0 20px;
}

.block_my_courses .upcoming_course_content {
    margin-left: 20px;
}
