.block_my_courses h2 {
    margin-bottom: 0;
}

.block_my_courses .welcome_area {
    margin-bottom: 15px;
}

.block_my_courses .welcome_area .profilepicture {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}

.block_my_courses .welcome_area .welcome_message {
    display: inline-block;
}
.block_my_courses .activity_info {
    margin-left: 8px;
}

.block_my_courses .activity_overview {
    margin-bottom: 6px;
}

.block_my_courses .activity_overview .iconlarge {
    margin-right: 5px;
}

.block_my_courses .c_header {
    cursor: pointer;
}

.block_my_courses .c_header h3 {
    cursor: pointer;
}

.block_my_courses .c_header ul {
    margin: 0;
    padding: 0;
}

.block_my_courses .c_header li {
    list-style-type: none;
    list-style: none;
    margin-left: 20px;
}

.block_my_courses .c_header.collapsed ul {
    background-image: url([[pix:t/collapsed]]);
    background-position: 2px 50%;
    background-repeat: no-repeat;
    margin: 0;
}

.block_my_courses .c_header.expanded ul {
    background-image: url([[pix:t/expanded]]);
    background-position: 2px 50%;
    background-repeat: no-repeat;
    margin: 0;
}

.block_my_courses .c_content {
    margin: 0 20px;
}

/* We don't want margins on smaller devices, they take up too much space */
@media (max-width: 979px) {
    .block_my_courses .c_content {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.block_my_courses .upcoming_course_content {
    margin-left: 20px;
}
