.block_my_courses h2 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

/*.block_my_courses .welcome_area {
    margin-bottom: 15px;
}*/

.block_my_courses .flush {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.block_my_courses .welcome_area .profilepicture {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}

.block_my_courses .welcome_area .welcome_message {
    display: inline-block;
    padding-top: 0.5em !important;
}

.block_my_courses .welcome_area .welcome_message h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.block_my_courses .path-my .coursebox {
    margin: 0;
}

.block_my_courses .activity_info {
    margin-left: 8px;
}

.block_my_courses .activity_overview {
    margin-bottom: 6px;
}

.block_my_courses .activity_overview .iconlarge {
    margin-right: 5px;
}

.block_my_courses .c_header {
    cursor: pointer;
}

.block_my_courses .c_header h3 {
    cursor: pointer;
    margin-bottom: 0.5em;
    font-weight: 200;
}

.block_my_courses .c_header ul {
    margin: 0;
    padding: 0;
}

.block_my_courses .c_header li {
    list-style-type: none;
    list-style: none;
    margin-left: 25px;
}

.block_my_courses .c_header.collapsed ul {
    background-image: url([[pix:t/collapsed]]);
    background-position: 2px 50%;
    background-repeat: no-repeat;
    margin: 0;
}

.block_my_courses .c_header.expanded ul {
    background-image: url([[pix:t/expanded]]);
    background-position: 2px 50%;
    background-repeat: no-repeat;
    margin: 0;
}

.block_my_courses .c_content {
    margin: 0 20px;
}

/* We don't want margins on smaller devices, they take up too much space */
@media (max-width: 979px) {
    .block_my_courses .c_content {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.block_my_courses .upcoming_course_content {
    margin-left: 20px;
}

.block_my_courses .coursebox {
    margin-bottom: 15px;
    border: 1px dotted #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
}

.block_my_courses .coursebox h3 {
    padding: 3px 15px;
    font-size: 1.5em;
    font-weight: 250;
    margin-bottom: 0px;
}

.block_my_courses>.card-body>h5 {
    display: none !important;
}

.block_my_courses>.card-body>.card-text {
    margin-top: 0px !important;
}

.block_my_courses .activity_info {
    margin-top: 0.5em;
}